<nav class="cyan darken-4">
    <!-- navbar content here  -->
    <div class="nav-wrapper container">
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo center">weStories</a>
        <ul id="nav-mobile" class="right">
            {{#if currentUser}}
            <li class="hide-on-small-only"><a href="#">Hi <em>{{currentUser.firstName}}</em> </a></li>
            {{else}}
            {{/if}}
            <li class="hide-on-med-and-down"><a href="/stories">Public Stories <i class="fa fa-book"
                        aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>


{{!-- side menu --}}
<ul id="slide-out" class="sidenav">
    {{#if currentUser}}
        <li>
            <div class="user-view">
                <div class="background">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTw7ScgPKbLLFmgwBds7kDVBb3AO8quJM3rJlpw71hydCcw8Gxt">
                </div>
                <a href="#user"><img class="circle" src="{{currentUser.image}}"></a>
                <a href="#name"><span class="white-text name">{{currentUser.firstName}} {{currentUser.lastName}}</span></a>
                <a href="#email"><span class="white-text email">{{currentUser.email}}</span></a>
            </div>
        </li>
        <li><a href="/stories"><i class="material-icons">library_books</i>Public Stories</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/"><i class="fa fa-cog" aria-hidden="true"></i>Dashboard</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/stories/show"><i class="fa fa-archive" aria-hidden="true"></i>My Stories</a></li>
        <li><div class="divider"></div></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
    {{else}}
        <li class="cyan darken-4 white-text center">weStories</li>
        <li><a href="/stories"><i class="fa fa-book" aria-hidden="true"></i>Public Stories</a></li>
        <li><div class="divider"></div></li>
        <li><div class="center-align">
            <a class="red darken-1 waves-effect waves-light btn" href="/auth/google"><i class="fa fa-google-plus"
                    aria-hidden="true"></i> Login with google</a>
            </div>
        </li>
</ul>
{{/if}}