<div class="container padTopBot">
    <h3 class="show-card">Welcome, {{currentUser.firstName}}</h3>
    <div class="divider"></div>
    <h4 class="show-card">Your Stories</h4>
    {{#if stories}}
    <table id="story-table" class="striped blue-grey lighten-4">
        <thead class="blue-grey lighten-1">
            <tr>
                <th class="tb-padding">Title</th>
                <th class="tb-padding">Date</th>
                <th class="tb-padding">Status</th>
                <th class="tb-padding"></th>
            </tr>
        </thead>

        <tbody>

            {{#each stories}}
            <tr>
                <td class="tb-padding"><a href="/stories/show/{{id}}">{{title}}</a></td>
                <td class="tb-padding">{{formatDate date 'MMMM Do YYYY'}}</td>
                <td class="tb-padding">{{status}}</td>
                <td>
                    <a href="/stories/edit/{{id}}" class="btn-small blue waves-effect waves-light edit" title="Edit"><i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                    <form id="delete-btn" action="/stories/{{id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn-small left-align red waves-effet waves-light" title="Delete" data-confirm ="Are you sure you want to delete?"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    You have not created a story.
    {{/if}}
</div>