<div class="container padTopBot">
    <div class="row">
        <div class="col s12 m8">
            <h3 class="show-card">{{story.title}}</h3>
            <span class="card-title grey-text">{{formatDate story.date 'MMMM Do YYYY, h:mm a'}}</span>
            <div class="card-panel blue lighten-5">
                {{{story.body}}}
            </div>
        </div>
        <div class="col s12 m4">
            <div class="show-card card grey lighten-2 black-text center-align">
                <div><span class="card-title black-text">{{story.user.firstName}} {{story.user.lastName}}</span></div>
                    <img class="circle responsive-img" src="{{story.user.image}}" width="200">
                <div class="card-action">
                    <a href="/dashboard" class="btn grey">Check My Stories</a>
                </div>
            </div>
        </div>
    </div>
</div>