<div class="container padTopBot">
    <div class="row">
        <div class="col s12 m8">
            <h3 class="show-card">{{story.title}}
                {{#ifEquals story.user._id '==' currentUser.id}}
                <a href="/stories/edit/{{story.id}}"><i class="fa fa-pencil blue-text" aria-hidden="true">Edit</i></a>
                {{/ifEquals}}
            </h3>
            <span class="card-title grey-text">{{formatDate story.date 'MMMM Do YYYY, h:mm a'}}</span>
            <div class="card-panel blue lighten-5">
                {{{story.body}}}
            </div>
            {{!-- <div>Rate this story:</div>
            <div id="rater" class="grey"></div> --}}
            {{#if story.allowComments}}
            <div class="card-panel">
                <h6 class="grey-text">Comments:</h6>
                {{#each story.comments}}
                <p>{{body}}</p>
                <a href="/stories/user/{{user.id}}">
                    <div class="chip grey white-text">
                        <img src="{{user.image}}">
                        {{user.penName}}
                    </div>
                </a>
                {{#ifEquals user.id '==' @root.currentUser.id}}
                <div id="editDelete">
                    <a href="/stories/{{@root.story.id}}/comment/{{id}}/edit"
                        class="btn-small blue white-text chip">Edit</a>
                    <form id="delete-comment-btn" action="/stories/{{@root.story.id}}/comment/{{id}}?_method=DELETE"
                        method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn-small red white-text chip" value="delete"
                            data-confirm="Are you sure you want to delete?">
                    </form>
                </div>
                {{/ifEquals}}
                <div><label>{{formatDate date 'MMMM Do YYYY, h:mm a'}}</label></div>
                <hr>
                {{else}}
                <p>No comments yet.</p>
                {{/each}}
            </div>
            {{#if @root.currentUser}}
            <form action="/stories/{{story.id}}/comment" method="post">
                <label for="addComment">Add a comment</label>
                <textarea name="commentBody" id="commentBody" cols="30" rows="10"></textarea>
                <input type="submit" value="Submit" class="btn grey">
            </form>
            {{else}}
            Please <a href="/auth/google">log-in</a> to add a comment.
            {{/if}}
            {{/if}}
        </div>

        <div class="col s12 m4">
            <div class="show-card card grey lighten-2 black-text center-align">
                <div><span class="card-title black-text">{{story.user.penName}}</span></div>
                <img class="circle responsive-img" src="{{story.user.image}}" width="200">
                <div class="card-action">
                    <a href="/stories/user/{{story.user.id}}" class="btn grey darken-1">Check My Stories</a>
                </div>
            </div>
        </div>
    </div>
</div>